bin
tmp
vendor/bundler_gems
test
config/database.yml
.DS_Store
doc
log
rerun.txt
config/twfy_key.txt
public/stylesheets
public/images/famfamfam_silk_icons_v013*
public/images/grid.png
public/images/polipeople.png
public/images/polipeople.svg
public/images/pp.png
public/images/pp.svg
\#*\#
